:root{

    --color1: rgba(244, 208, 111, 1);
    --color2: rgba(255, 136, 17, 1);
    --color3: rgba(157, 217, 210, 1);
    --color4: rgba(255, 248, 240, 1);
    --color5: rgba(57, 47, 90, 1);
}


*{
    transition: all 1s;

}

body {
    /*background: linear-gradient(#e66465, #9198e5);*/
    /*background-image: linear-gradient(-90deg, #66F2FF, #FF66FC) !important;*/

    background-color: var(--color5);

    /*background: linear-gradient(45deg, red, blue);*/
}

/*.jumbotron{*/
    /*background-image: url("https://images.pexels.com/photos/267569/pexels-photo-267569.jpeg?cs=srgb&dl=author-blog-businesswoman-267569.jpg&fm=jpg");*/
    /*background-size: cover;*/
/*}*/
