/* Coolors Exported Palette - coolors.co/e50013-b3f995-59d6db-0c669e-002456 */

/* HSL */
//$color1: hsla(355%, 100%, 45%, 1);
//$color2: hsla(102%, 89%, 78%, 1);
//$color3: hsla(182%, 64%, 60%, 1);
//$color4: hsla(203%, 86%, 33%, 1);
//$color5: hsla(215%, 100%, 17%, 1);

/* RGB */
$color1: rgba(229, 0, 19, 1);
$color2: rgba(179, 249, 149, 1);
$color3: rgba(89, 214, 219, 1);
$color4: rgba(12, 102, 158, 1);
$color5: rgba(0, 36, 86, 1);