/* Coolors Exported Palette - coolors.co/f4d06f-ff8811-9dd9d2-fff8f0-392f5a */

/* HSL */
$color1: hsla(44%, 86%, 70%, 1);
$color2: hsla(30%, 100%, 53%, 1);
$color3: hsla(173%, 44%, 73%, 1);
$color4: hsla(32%, 100%, 97%, 1);
$color5: hsla(254%, 31%, 27%, 1);

/* RGB */
$color1: rgba(244, 208, 111, 1);
$color2: rgba(255, 136, 17, 1);
$color3: rgba(157, 217, 210, 1);
$color4: rgba(255, 248, 240, 1);
$color5: rgba(57, 47, 90, 1);