<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="head :: head">
    <meta charset="UTF-8" />
    <title>Log In</title>
</head>

<body class="container navy">
<nav th:replace="nav :: nav"/>

<div class=" card p-4 mt-4">
    <div class="media mt-4" th:object="${user}">
        <img class="mr-3" th:src="${user.picture_large}" alt="Generic placeholder image"/>
        <div class="media-body">
            <h5 class="mt-0" th:text="${user.username}"></h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>
</div>
<div class="pt-4">
    <div class="display-4">Your Posts:</div>
    <div th:each="post : ${posts}">
            <div th:if="${user.getId()} == ${post.getUser().getId()}" class="card phm bg-transparent navy border mb-3 p-4">
                <div>
                    <h3 class="" th:text="${post.title}"></h3>
                </div>
                <div>
                    <p class="" th:text="${post.body}"></p>
                </div>
                <div>
                    Posted By: <p th:text="${post.getUser().getUsername()}"></p>
                </div>
                <div><img th:src="${post.getUser().getPicture_large()}" class="border rounded-circle float-right" alt="profile picture"/></div>

                <div class="card-footer bg-transparent border-0 row border-olive d-flex inline-flex d-xs-inline mb-1">
                    <div class="mr-1 mb-1">
                        <form th:action="@{/posts/{id}(id=${post.id})}" method="get" th:object="${post.id}">
                            <!--<input type="hidden" th:value="${post.id}"/>-->
                            <button type="submit" class="btn btn-outline-primary btn-sm">View</button>
                        </form>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="mr-1 mb-1">
                        <form th:action="@{/posts/{id}/update(id=${post.id})}" method="get" th:object="${post.id}">
                            <!--<input type="hidden" th:value="${post.id}"/>-->
                            <button type="submit" class="btn btn-outline-primary btn-sm">Edit</button>
                        </form>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="mr-1 mb-1">
                        <form th:action="@{/posts/{id}/update/delete(id=${post.id})}" method="get" th:object="${post.id}">
                            <!--<input type="hidden" th:value="${post.id}"/>-->
                            <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>

<footer th:replace="footer :: footer"/>

</body>
</html>